{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

<div class="container">
    
    <h1 >{{title}}</h1>  

  {# Formulaire article #}

    <div class="container text-center">
        <form id="new-post" action="/blogMvc/administration" method="POST" class="" style="{{ article.id == null ? 'display: none' : ''}}">
          <h3 >Rédiger un article</h3>
          <br>
          <input type="hidden" name="id" value="{{article.id}}" />
          <div class="row d-flex justify-content-center">
            <div class="mb-3 col-8">
              <label for="title" class="form-label" class="col-4">Titre :</label>
              <div class="">
                <input type="text" name="title" value="{{article.title}}" class="form-control required" id="title" placeholder="Titre de l'article">
              </div>
            </div>
            <div class="mb-3 col-8">
              <label for="title" class="form-label" class="col-4">Auteur :</label>
              <div class="">
                <select name="id_user" class="form-control required">
                  {% for author in authors %}
                    <option value="{{ author.id }}" {{ (author.id == article.id_user) ? 'selected="selected"' : '' }}>{{ author.username }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="mb-3 col-8">
              <label for="content" class="form-label required">Chapeau :</label>
              <div class="">
                <textarea name="chapeau" class="form-control required" id="chapeau" rows="2" cols="30" placeholder="Rédigez le chapeau de l'article">{{article.chapeau}}</textarea>
              </div>
            </div>            
            <div class="mb-3 col-8">
              <label for="content" class="form-label required">Article :</label>
              <div class="">
                <textarea name="content" class="form-control required" id="content" rows="7" cols="30" placeholder="Rédigez votre article">{{article.content}}</textarea>
              </div>
            </div>            
            <div>
              <input type="submit" class="btn btn-primary m-2 col-8" value="valider">
              <button class="btn btn-warning m-2 col-8" onclick="document.getElementById('new-post').reset() ; document.getElementById('new-post').style.display = 'none'">Annuler</button>
            </div>        
          </div>       
        </form>        
    </div>

      <div class="new-button-container text-center">
        <button class="btn btn-success mt-4 col-6" onclick="document.getElementById('new-post').style.display = 'block'"><i class="fas fa-pen"></i> Rédiger un article</button>
      </div>

    {# Gestion des articles #}

    <div class="container">
      <h3 class="mt-5 text-center">Gestion des articles</h3>
      <table class="table table-bordered table-hover table-responsive mt-5">
        <thead>
          <tr>
            <th scope="col">N° Article</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date Publication</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for article in articles %}
        <tbody>
          <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.username }}</td>
            <td>{{ article.created }}</td>
            <td class="text-center">
              <a class="btn btn-info operation" {# onclick="document.getElementById('new-post').style.display = 'block'" #} href="/blogMvc/administration/posts/{{ article.id}}/edit"><i class="fas fa-redo"></i> Modifier</a>
              <a class="btn btn-danger operation" href="/blogMvc/administration/posts/{{article.id}}/delete"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>      
          </tr>
        </tbody>
        {% endfor %} 
      </table>
    </div> 


    {# Gestion des commentaires #}

    <h3 class="mt-5 text-center">Gestion des Commentaires</h3>   
    {# Affichage des commentaires #}
    <div class="container mt-5 mb-5">
      <h5 class = p-3>Commentaires : </h5>        
        {% for comment in comments %}
        <div class="container m-3 border border-primary">
          <p> Commentaire N° :<b> {{ loop.revindex }} </b> </p>
          <p class="card-text text-justify">Le : {{ comment.created|date("d m Y à H i s") }}</p>
          <p class="card-text">Commentaire :             
          <a class="btn btn-info operation" href="/blogMvc/administration/posts/{{comment.id}}/validate"><i class="fa fa-check" aria-hidden="true"></i> valider</a>
          <a class="btn btn-warning operation" href="/blogMvc/administration/posts/{{comment.id}}/reject"><i class="fa-solid fa-ban"></i> rejeter</a>
          </p>
          <p class="bg-light border border-dark-subtle p-4 mt-2">{{comment['content']}}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}