{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

<div class="container">
    
  <h1 >{{title}}</h1>

    <div class="container text-center">
        <form action="/blogMvc/administration" method="POST" class="">
          <h3 >Rédiger un article</h3>
          <br>
          {# input caché pour créer l'update #}
          <input type="hidden" name="id" value="{{article.id}}" />
          <div class="row d-flex justify-content-center">
            <div class="mb-3 col-8">
              <label for="title" class="form-label" class="col-4">Titre :</label>
              <div class="">
                <input type="text" name="title" value="{{article.title}}" class="form-control required" id="title" placeholder="Titre de l'article">
              </div>
            </div>
            <div class="mb-3 col-8">
              <label for="content" class="form-label required">Article :</label>
              <div class="">
                <textarea name="content" class="form-control required" id="content" rows="7" cols="30" placeholder="Rédigez votre article">{{article.content}}</textarea>
              </div>
            </div>            
            <div>
              <input type="submit" class="btn btn-primary px-4 col-8" value="valider">
            </div>        
          </div>       
        </form>        
    </div>

    <div class="container">

      <table class="table {# table-striped #} table-bordered table-hover table-responsive mt-5">
            
        <thead>
          <tr>
            <th scope="col">N° Article</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date Publication</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        {# Affichage des des données dans le tableau de l'administrateur #}
        {% for article in articles %}
        <tbody>
          <tr>
            <th scope="row">{{article.id}}</th>
            <td>{{ article.title }}</td>
            <td>{{ article.firstname }}</td>
            <td>{{ article.created }}</td>
            <td class="text-center">
              <a class="btn btn-info operation" href="/blogMvc/administration/posts/{{article.id}}/edit"><i class="fas fa-redo"></i> Modifier</a>            
              <a class="btn btn-danger operation" href="/blogMvc/administration/posts/{{article.id}}/delete"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>      
          </tr>
        </tbody>
        {% endfor %}          

      </table>
    </div>

</div>

{# </div> #}

{% endblock %}