{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

{# Si l'utilisateur est connecté avec la variable de session, possibilité de créer un nouvel article #}
    {% if userId %} 
      <a href="/blogMvc/administration/" <button type="button" class="btn btn-success operation"><i class="fas fa-pen"></i> Créer un  nouvel article</button></a>
    {% endif %}

<div class="container text-center p-3 mb-2 bg-secondary text-white">
    
  <h1>{{title}}</h1>

  <div class="container mb-5">
        <div>
            <h1>Liste des articles</h1>            
        </div>
  </div>
  
  <div class="row p-3 mb-2 bg-warning text-dark justify-content-center">

    {# Affichage des articles #}
    {% for article in articles %}

    <div class="article card  mx-2 my-2 col-xs-6 col-sm-9 col-md-9 col-lg-4 col-xl-5">
      <div class="card-body">
        <h4 class="card-title">{{article.title}}</h4>
        <p class="card-text text-justify">{{ article.content }}</p>

        <p class="cart-text text-justify"><strong>Email :</strong> {{article.email}}
        <p class="cart-text text-justify"><strong>Nom :</strong> {{article.lastname}} <strong>Prénom :</strong> {{article.firstname}}
        <p class="cart-text text-justify">userId {{article.id}}

        <p class="card-text text-justify"><span style="color: blue">Date publication : </span></br>{{ article.created|date("d m Y à H i s") }}</p>                
        <a href="/blogMvc/posts/{{article.id}}" class="btn btn-secondary">Voir l'article</a>
      </div>
    </div>

    {% endfor %}
    
  </div>    
</div>    

{% endblock %}

{% block javascript %}  
<script></script>
{% endblock %}
