{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}article {% endblock %}

{% block content %}
<div class="container text-center p-3 mb-2 bg-secondary text-white">
    
  <h1>Titre de l'article : {{article.title}}</h1>

  <div class="container text-center">
        <div class="row ">
            <h3>Numéro de l'article : {{article.id}}</h3>
            <p>{{ article.content|raw }}</p>
        </div>
  </div>

  {# *************************************************** #}
  <div class="container text-center">
        <div class="row ">
            <h3>Commentaire : </h3>
            <p>{{ comments[0]['content']|raw }}</p>
        </div>
  </div>
  {# *************************************************** #}

  
  <!-- ici, afficher les commantaires sur le post -->

  {{ include('_comment.html.twig', { 'paramName': 'paramValue' }) }}
    
  
</div>
{% endblock %}


{% block javascript %}  
<script></script>
{% endblock %}
